<div class="footer">
    <h5>EVA TRADERS</h5>
    <h6>SUPPLIERS FOR ALL KIND OF BUILDING MATERIALS</h6>


    <div class="contact-details">
        <mat-icon class="icon">location_on</mat-icon>
        <p>
            Office No.22, 4th Floor, Shree Bhagwati Svarna Appt,
            Opp. Beverly Hills Society, Pan Card Club Road, Baner, Pune 411045
        </p>
    </div>
    <div class="contact-details">
        <mat-icon class="icon">phone</mat-icon>
        <p>
            8208725240
        </p>
    </div>
    <div class="contact-details">
        <mat-icon class="icon">mail_outline</mat-icon>
        <p>
            eva.traders@yahoo.com
        </p>
    </div>
    
    <p>
        <a href="https://www.facebook.com/profile.php?id=61552615024264" class="icon-link">
            <mat-icon class="icon">facebook</mat-icon>
        </a>
        <a href="#" class="icon-link">
            <mat-icon class="fa fa-twitter"></mat-icon>
        </a>
        <a href="https://www.linkedin.com/company/eva-traders/" class="icon-link">
            <mat-icon class="fa fa-linkedin"></mat-icon>
        </a>
    </p>
</div>