<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Information</title>
</head>

<div class="home-container">
    <div class="logo-container">
        <div class="step-box">
            <div class="step-number"></div>
            <div class="step-content">
                <div class="slider">
                    <img src="/assets/images/Backup_of_eva traders.png" alt="Image 1" class="hover-image" />
</div>
                <br>
                <div style="display: flex; justify-content: space-between; margin-top: 20px;">
                    <div
                        style="width: 100%; height: 250px; border: 1px solid #ccc; padding: 10px; display: flex; justify-content: center; align-items: center;">
                        <div class="step-box">
                            <div class="horizontal-container">
                                <h1>Our Strengths</h1>
                                <div class="team-area pt-60 pb-60"></div>
                                <div class="team-area pt-60 pb-60"></div>
                                <div class="team-area pt-60 pb-60" style=" background: rgb(74, 74, 54);"></div>
                                <div class="horizontal-container">
                                    <div class="step-box">
                                        <div class="step-number"></div>
                                        <div class="step-content1">
                                            <div class="step-image">
                                                <img alt="Strength Icon" src="assets/images/icon-strength-1 .png">
                                                <div class="step-content">
                                                    <ul>
                                                        <div class="step-box">
                                                            <div class="step-number"></div>
                                                            <h3>Highest Quality</h3>
                                                        </div>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="step-image">
                                                <img alt="Strength Icon" src="assets/images/icon-strength-2.png">
                                                <div class="step-content">
                                                    <ul>
                                                        <div class="step-box">
                                                            <div class="step-number"></div>
                                                            <h3>Durability</h3>
                                                        </div>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="step-image">
                                                <img alt="Strength Icon" src="assets/images/icon-strength-3.png">
                                                <div class="step-content">
                                                    <ul>
                                                        <h3>Fair Market Price</h3>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div style="display: flex;    margin-top: 5%;">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>
                                <h1>Quality Assurance</h1>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p>Each and every product we supply to our customers is first tried and tested by
                                us. If we
                                find
                                the results as per standards, then only we market them to our customers.</p>
                        </mat-card-content>

                    </mat-card>
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>
                                <h1>Why Choose Us?</h1>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p>Over the years, we have been providing a complete range of products that are
                                widely used
                                in
                                building construction.</p>
                        </mat-card-content>
                    </mat-card>
                </div>



            </div>
        </div>
    </div>


</div>

</html>