<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Information</title>
</head>

<div class="home-container">
    <div class="logo-container">
        <div class="step-box">
            <div class="step-number"></div>
            <div class="step-content">


                <h1>WHO WE ARE ?</h1>
                <div>
                    <strong>EVA TRADERS</strong>
                    OVER THE YEARS, WE HAVE BEEN PROVIDING COMPLETE RANGE OF PRODUCTS THAT ARE WIDELY USED IN BUILDING
                    CONSTRUCTION.
                    EACH AND EVERY PRODUCT WE SUPPLY TO OUR CUSTOMERS, ARE FIRST TRIED AND TESTED BY US, AND IF WE FIND
                    THE RESULTS AS PER STANDARDS,THEN ONLY WE MARKET THEM TO OUR CUSTOMERS.
                    OUR PRODUCTS ARE KNOWN FOR THEIR HIGHEST QUALITY, DURABILITY AND FAIR MARKET PRICE.
                    VENDORS FROM WHOM WE SOURCE OUR PRODUCTS USE ADVANCE TECHNOLOGY AND PREMIUM QUALITY RAW MATERIAL.
                    SOME ADDITIONAL FACTORS MAKING US APART FROM OTHERS ARE
                    <div class="centered-list-container">
                        <ol class="centered-list">
                            <li> Transparent business environment</li>
                            <li> Wide distribution network</li>
                            <li> Clients' centric approach</li>
                            <li> Strategic partnership</li>
                            <li> Competent range of product</li>
                        </ol>
                    </div>
                </div>
                <h3>&nbsp;</h3>
                <h3></h3>
                <br>
                <div class="step-box">
                    <div class="horizontal-container">
                        <h1>Our Strengths</h1>
                        <div class="team-area pt-60 pb-60"></div>
                        <div class="team-area pt-60 pb-60"></div>
                        <div class="team-area pt-60 pb-60" style=" background: rgb(74, 74, 54);"></div>
                        <div class="horizontal-container">
                            <div class="step-box">
                                <div class="step-number"></div>
                                <div class="step-content1">
                                    <div class="step-image">
                                        <img alt="Strength Icon" src="assets/images/icon-strength-1 .png">
                                        <div class="step-content">
                                            <ul>
                                                <div class="step-box">
                                                    <div class="step-number"></div>
                                                    <h3>Highest Quality</h3>
                                                </div>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="step-image">
                                        <img alt="Strength Icon" src="assets/images/icon-strength-2.png">
                                        <div class="step-content">
                                            <ul>
                                                <div class="step-box">
                                                    <div class="step-number"></div>
                                                    <h3>Durability</h3>
                                                </div>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="step-image">
                                        <img alt="Strength Icon" src="assets/images/icon-strength-3.png">
                                        <div class="step-content">
                                            <ul>
                                                <h3>Fair Market Price</h3>
                                            </ul>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                </div>
                <div style="display: flex;    margin-top: 5%;">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>
                                <h1>Quality Assurance</h1>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p>Each and every product we supply to our customers is first tried and tested by us. If we
                                find
                                the results as per standards, then only we market them to our customers.</p>
                        </mat-card-content>

                    </mat-card>
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>
                                <h1>Why Choose Us?</h1>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p>Over the years, we have been providing a complete range of products that are widely used
                                in
                                building construction.</p>
                        </mat-card-content>
                    </mat-card>
                </div>



            </div>
        </div>
    </div>


</div>


<body>

    <div class="contact-container">
        <div class="contact-title"><span>CONTACT</span></div>
        <h2>Keep in Touch</h2>
        <div class="contact-details">
            <mat-icon class="icon">location_on</mat-icon> Office No.22, 4th Floor, Shree Bhagwati Svarna Appt,
            Opp. Beverly Hills Society, Pan Card Club Road, Baner, Pune 411045
        </div>
        <div class="contact-details">
            <mat-icon class="icon">phone</mat-icon> 8208725240
        </div>
        <div class="account-details">
            <mat-icon class="icon">mail_outline</mat-icon> eva.traders@yahoo.com
        </div>
    </div>


</body>

</html>