<div class="home-container">
    <div class="logo-container">
        <h1>Welcome to Eva Traders</h1>
        <p>EVERYTHING NEEDED TO BUILD</p>
        <button (click)="navigateToContactUs()">Contact Us</button>
    </div>
    <br>
    <div class="image-container">
        <img src="/assets/images/icon logo.png" alt="Image 1" class="hover-image" />
        <img src="/assets/images/UMA LOGO.png" alt="Image 2" class="hover-image" />
        <img src="/assets/images/kalika.png" alt="Image 3" class="hover-image" />
        <br>
        <br>
        <br>
        <br>
        <img src="/assets/images/CHETTINAD.png" alt="Image 4" class="hover-image" />
        <img src="/assets/images/SHREE CEMENT.png" alt="Image 5" class="hover-image" />
        <img src="/assets/images/ultratech .png" alt="Image 6" class="hover-image" />
    </div>
</div>