<div class="home-container">
    <div class="logo-container">
        <div class="image-container">

            <h1>Welcome to Eva Traders</h1>
            <p>EVERYTHING NEEDED TO BUILD</p>
            <button (click)="navigateToContactUs()">Contact Us</button>
        </div>
        <br>
        <div class="slider">
            <img src="/assets/images/icon logo.png" alt="Image 1" class="hover-image" />
            <img src="/assets/images/UMA LOGO.png" alt="Image 2" class="hover-image" />
            <img src="/assets/images/kalika.png" alt="Image 3" class="hover-image" />
            <img src="/assets/images/CHETTINAD.png" alt="Image 4" class="hover-image" />
            <img src="/assets/images/SHREE CEMENT.png" alt="Image 5" class="hover-image" />
            <img src="/assets/images/ultratech .png" alt="Image 6" class="hover-image" />
            <img src="/assets/images/INFRA MARKET 2-blocks.png" alt="Image 7" class="hover-image" />
        </div>
        <br>
        <div style="display: flex; justify-content: space-between; margin-top: 20px;">
            <div style="width: 48%; height: 200px; border: 1px solid #ccc; padding: 10px; display: flex; justify-content: center; align-items: center;">
                <img src="/assets/images/1.png" style="max-width: 100%; max-height: 100%;" alt="image" />
            </div>
            <div style="width: 48%; height: 200px; border: 1px solid #ccc; padding: 10px; display: flex; justify-content: center; align-items: center;">
                <img src="/assets/images/2.png" style="max-width: 100%; max-height: 100%;" alt="image" class="hover-image"  >
                
            </div>
        </div>
        
        </div>
    </div>
    